html, body{
	background-image: url("images/do-itcan.PNG");
	background-repeat: repeat;
	font-family: Arial, sans-serif;
	margin: 0;
}

header{
	background-color: #0000CC;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
}

header img{
	border-radius: 183px;
	width: 300px;
	border: 20px solid #CC0000;
	box-shadow: 0 10px 20px black;
}

.headerBack{
	border-radius: 5px;
	/*background-color: #ffffff;*/
}

.content{
	max-width: 400px;
	margin: 0 auto;
	padding: 0 20px;
}

.cool{
    text-size-adjust: auto;
    margin: 0 auto;
    text-align: center;
	width: 100px;
	height: 100px;
	transition: background-color 1s;
}

#red{
    color: red;
}

#green{
    color: green;
}

.cool.red{
	background-color: red;
}

.cool.green{
	background-color: green;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: red;
	text-decoration: none;
}

footer{
	padding: 2px 20px;
	background-color: #999999;
	border-radius: 100px;
}

ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}

ol{
	padding: 20px;
}