html, body{
	background-image: url("images/do-itcan.PNG");
	background-repeat: repeat;
	font-family: Arial, sans-serif;
	margin: 0;
}

header{
	background-color: #0000CC;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
}

header img{
	border-radius: 183px;
	width: 300px;
	border: 20px solid #CC0000;
	box-shadow: 0 10px 20px black;
}

.content{
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}

.cool{
    text-size-adjust: auto;
    margin: 0 auto;
    text-align: center;
	width: 100px;
	height: 100px;
	transition: background-color 1s;
}

#sl{
    text-align: center;
    margin: 0 auto;
}

.button {
    top: 0%;
    left: 0%;
    background-color: #0bc7e1;
    border: 10px ridge #62ecff;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 66px;
    margin: 4px 2px;
    cursor: pointer;
    transition: border 1s;
}

.button.Click {
    border: 1px ridge #ffffff;
}

#red{
    color: red;
}

#green{
    color: green;
}

#dogPic{
	width: 400px;
	height: 345px;
	border: 20px solid #0099ff;
}

#imgA{
    height: 50%;
    width: 50%;
}

.resizeFont {
    font-size: 32px;
}

.cool.red{
	background-color: red;
}

.cool.green{
	background-color: green;
}

footer ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: red;
	text-decoration: none;
}

footer{
	padding: 2px 20px;
	background-color: #999999;
	border-radius: 100px;
	text-align: center;
	width: 200px;
}

ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 auto;
}

ol {
    max-width: 600px;
    padding: 0 20px;
}